// Specific CSS for your home-page

// body {
//   margin: 0;
//   width: 100%;
//   height: 100vh;
//   font-family: "Exo", sans-serif;
//   color: #fff;
//   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
//   background-size: 400% 400%;
//   animation: gradientBG 15s ease infinite;
// }

// @keyframes gradientBG {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

body {
  background-color: white;
}

.banner {
  height: 550px;
  background-color: #6775bf;
  opacity: 0.9;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  h2 {
    font-size: 50px;
    font-family: "Pacifico";
    color: #C6E7D8;
    text-shadow: 1px 1px 1px black;
  }
}

.banner-container {
  text-align: center;
  padding: 300px;
  color: white;
  p {
    font-size: 20px;
    font-family: $headers-font;
    text-shadow: 1px 1px 1px black;
  }
}


.footer {
  background-color: #6775BF;
  opacity: 0.8;
  height: 200px;
  margin-top: 50px;
  padding: 50px;
}

.footer p {
  margin: 0;
  text-align: center;
  font-family: 'Comfortaa';
}

.list-inline {
  list-style: none;
  padding: 0;
  text-align: center;
}

.list-inline li {
  display: inline-block;
}

.list-inline li i:hover {
  color: white;
}

.footer i {
  font-size: 30px;
  margin: 10px;
  color: black;
}

.home-btn {
  color: black;
}

.home-btn:hover {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.border{
  padding: 5px;
    background: linear-gradient(110deg, #70c7be 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #7f92cf 34%, #9d7ed0 34%);
  background-size: 400% 400%;
  height: 400px;
  background-position: 25% 50%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
    position: relative;
  bottom: 310px;
  left: 70px;
}
.inner-cutout{
  padding: 40px 0;
  display: block;
  background-color:#ff6f69;
  margin: 2%;
  padding-bottom: 40px;
  height: 300px;
  background: radial-gradient(#6775bf, #6775bf);
  background-size: 300%;
  background-position:50% 50%;

}
.knockout {
  vertical-align: middle;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 50pt;
  color: blue;
  color: #fff;
  background: linear-gradient(110deg, #70c7be 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #7f92cf 34%, #9d7ed0 34%);
  background-size: 400%;
   -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 20px;
}

.knockout{
    animation: Gradient 5s ease infinite;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 30% 50%
  }
  50% {
    background-position: 25% 50%
  }
  100% {
    background-position: 30% 50%
  }

}

.main{
  width: 570px;
  height: 800px;
  margin-left: 42%;
  margin-right:40%;
  margin-top: 10%;
}

#homepage-title {
  text-align: center;
  margin: 0;
  padding-top: 50px
}


