.grp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grp-inputs {
  width: 650px;
}

.grp-form {
  background-color: white;
  padding: 30px;
  border-radius: 14px;
  font-family: "Quicksand";
  color: black;
  width: 715px;
}

.buttons-grp-form a {
  color: #E1DBEA;
  text-decoration: none;
}

.buttons-grp-form:hover {
  color: #E1DBEA;
}

.new-grp-btn input {
  color: #E1DBEA;
  font-family: "Quicksand"
}

.new-grp-btn input:hover {
  color: #E1DBEA;
}
