.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    h2 {
      margin-bottom: 30px;
    }
}

.password-inputs {
  width: 400px;
}

.password-form {
  background-color: white;
  padding: 30px;
  margin-top: 80px;
  border-radius: 14px;
  font-family: "Comfortaa";
}

.password-btn input {
  padding: 0;
  margin: 20px 0;
}

.password-send input {
  padding: 0;
}

.password-btn {
  display: flex;
  justify-content: space-evenly;
}
