.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    h2 {
      margin-bottom: 30px;
    }
}

.registration-inputs {
  width: 400px;
}

.registration-form {
  background-color: white;
  padding: 30px;
  margin-top: 80px;
  border-radius: 14px;
  font-family: "Comfortaa";
}

.unhappy {
  margin-top: 20px;
}

.cancel-account {
  margin-top: 20px;
}

.cancel-btn {
  color: black;
}

.cancel-btn:hover {
  color: black;
}

.back-btn {
  color: black;
}

.back-btn:hover {
  color: black;
}
