<div class="banner">
  <div class="banner-container">
    <div class="main">
      <div class = "border">
        <div class = "inner-cutout">
          <h1 class="knockout">Form your study group</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cards subjects-cards">
  <% @subjects.each do |subject| %>
    <div class="card">
      <div class="card-body">
        <p class="card-title"><%= subject.name %></p>
        <p><%= subject.category %></p>
        <div class="card-infos">
          <p>Number of groups: <%= subject.groups.count %></p>
          <%= link_to 'More info', subject_groups_path(subject), class: 'card-link', style: "color: black" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="footer">
    <ul class ="list-inline">
      <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <p>Website coded by 3 students at Le Wagon SZ.</p>
  </div>
