<div class="banner">
  <div class="banner-container">
    <h1>Time to form a study group</h1>
    <p>Find your perfect classmates on LearnUp</p>
  </div>
</div>

<div class="cards subjects-cards">
  <% @subjects.each do |subject| %>
    <div class="card">
      <div class="card-body">
        <p class="card-title"><%= subject.name %></p>
        <p><%= subject.category %></p>
        <div class="card-infos">
          <p>Number of learners: <%= subject.number_of_learners %></p>
          <%= link_to 'More info', subject_groups_path(subject), class: 'card-link', style: "color: black" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="footer">
    <ul class ="list-inline">
      <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <p>Website coded by 3 students at Le Wagon SZ.</p>
  </div>
