<div class="banner">
  <nav class="navbar">
    <h2>LearnUp</h2>
    <%= link_to 'Sign in', new_user_session_path, class:"btn btn-light" %>
  </nav>

  <div class="banner-container">
    <h1>Study together</h1>
    <p>Work more efficiently</p>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="card-group subject-card-deck">
      <% @subjects.each do |subject| %>
          <div class="card">
            <div class="card-body">
              <p class="card-title"><%= subject.name %></p>
              <p><%= subject.category %></p>
              <div class="card-infos">
                <p>Number of learners: <%= subject.number_of_learners %></p>
              </div>
            </div>
          </div>
      <% end %>
      </div>
  </div>
</div>

<footer>
  <p>Copyright.</p>
</footer>
