.card-title {
  font-weight: bold;
  font-size: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 50px;
}

.card {
  flex: 1 0 20%;
  margin: 5%;
  border-radius: 12px;
}

.card:hover {
  border: 1px solid black;
}

.card-infos p {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  font-size: 13px;
}

.card-infos a:hover {
  cursor: pointer;
  font-weight: bold;
}

.card-body {
  font-family: "Comfortaa";
}

.card-title {
  font-family: "Sulphur";
  font-size: 28px;
}

.group-infos a {
  color:black;
}

