.card-title {
  font-weight: bold;
  font-size: 20px;
}

.subjects-cards {
  padding: 100px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.card {
  flex: 1 0 20%;
  transition: 1s;
  margin: 5%;
}

.card:hover {
  transform: scale(1.1)
}

.cards {
  padding: 100px;
}

.card-body {
  font-family: "Comfortaa"
}



